body{
    background: rgb(194, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 15px;
    text-align: center;
    position: relative;
    top: 70px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.login-box form input {
    width: 100%;
    padding: 14px 0;
    margin: 8px 0 ;
    border-radius:7px;


}

.login-box button {
    width: 65%;
    padding:10px 0;
    display: block;
    margin: auto;
    border-radius: 15px;



}